:root {
  --main-white: #f0f0f0;
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-sat-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--dark-cyan);
}


.boogie.container {
  min-width: 375px;
  max-width: 1440px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 40vh;
}

.sub-contain {

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  background: var(--main-white);
  border-radius: 13px;
  height: 350px;
  width: 350px;
  text-align: center;
}

.bg-pattern-card {
  background: url('images/bg-pattern-card.svg');
  height: 120px;
  width: 100%;
  border-radius: 13px 13px 0 0;
}

.image-victor {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 55px;
  border: 1px solid var(--main-white);
  padding: 7px;
  background: var(--main-white);

  transition: width 10ms, height 10ms;
  cursor: pointer;
}

.image-victor:hover {
  height: 125px;
  width: 125px;
}

.profile-name {
  margin-top: 70px;
  margin-bottom: 20px;
  display: grid;
  height: 8vh;
}

.username {
  font-size: 18px;
  font-weight: bold;
}

#age {
  font-weight: lighter;
  color: var(--dark-gray)
}

#location {
  font-size: 15px;
  color: var(--dark-gray);
}

.grid-2 {
  float: left;
  margin-left: 37px;
  margin-right: 37px;
  padding-top: 20px;

}

.followers {
  font-size: 0.6em;
  padding-top: 5px;
  color: var(--dark-gray-blue)
}
